include README.md
include LICENSE
include requirements.txt
include *.yml
include *.ps1

# Add everything within the qf_lib
graft qf_lib

# Include everything from demo_scripts (besides the generated output)
graft demo_scripts
recursive-exclude demo_scripts/output *

# Exclude all *.pyc and *.pyo files
global-exclude *.py[co]

include versioneer.py
include qf_lib/_version.py