certifi==2020.12.5
pandas==1.2.4
numpy==1.20.3
scipy==1.6.3
matplotlib==3.4.2
scikit-learn==0.24.2
cvxopt==1.2.7
openpyxl==3.0.7
Pillow==8.2.0
WeasyPrint==52.5
emails==0.6
Jinja2==2.11.3
arch==4.19
beautifulsoup4==4.9.3
joblib==1.0.1
quandl==3.6.1
requests==2.25.1
seaborn==0.11.1
statsmodels==0.12.2
xarray==0.18.0
dic==1.5.2b1
patsy==0.5.1
tqdm==4.51.0
xlrd==1.1.0

--extra-index-url https://bcms.bloomberg.com/pip/simple/
blpapi==3.16.2