/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;

   }
      
   .wy-table-responsive {
      overflow: visible !important;
   }
}

.rst-content table.docutils:not(.field-list) td:nth-child(1) {
		word-break: break-all;
	width: 50% !important;
}

.py.class dt {
   word-break: break-word;
   display: inline-block;
}

table.genindextable {
   word-break: break-word;
}


.genindextable td {
	display: block;
	width: 100% !important;
}