---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*** Table of contents & Navigation Bar ***/

body {
  font-size: 18px;
}

.toc__menu li ul>li a {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.masthead .masthead__inner-wrap {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.greedy-nav a.site-logo img {
    max-height: 3rem;
}

/*** Navigation panel underline animation ***/

.greedy-nav .visible-links li a:before {
  height: 2px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/*** Contributors notices customization ***/

.notice strong {
    color: #6d7b98;
}

.notice em {
    font-weight: 600;
}

/*** Contact form ***/

.contact-form-title {
  display: block;
  width: 100%;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 1em;
}

.contact-form form {
  background-color: #fff;
}

.contact-form .wrap-input {
  position: relative;
  width: 100%;

  margin-bottom: 25px;
}

.contact-form .wrap-input .label-input {
  font-size: 15px;
  line-height: 20px;
  text-align: right;
}

.contact-form .wrap-input .input, .contact-form .wrap-input .message {
    display: block;
    width: 100%;
    width: 100%;
    z-index: 1;

    padding: 10px 15px;

    border-radius: 5px;
    border: 1px solid #e1e2e3;

    font-size: 15px;
    line-height: 20px;
    color: #3a3939;

    background-color: #fcfdfd;
    outline: #e1e2e3 auto 5px;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.contact-form .wrap-input .input {
  height: 50px;
}

.contact-form .wrap-input .input::placeholder, .contact-form .wrap-input .input::-ms-input-placeholder {
  opacity: 0.6;
}

.contact-form .wrap-input .message::placeholder, .contact-form .wrap-input .message::-ms-inputplaceholder{
  opacity: 0.6;
}

.contact-form .wrap-input .input:focus, .contact-form .wrap-input .message:focus {
  color: #2d2c2c;
  background-color: #fff;
  outline: #3b99fc auto 5px;
}

.contact-page {
  position: relative;
}

.contact-page .contact-form .form-button {
    padding: 10px;
    width: 100%;
    margin: 0 0 5px 0;
    margin: 18px 0;

    font-size: 20px;
    color: #fff;

    background-color: #8eb1d0;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.contact-page .contact-form .form-button:hover {
  background-color: #7296b5;
}

/*** Contact form pop up ***/
#pop-up {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  padding: 1px 22px;
  margin: -17px 0px 10px 0;

  font-size: 12px;

  border-radius: 5px;
  box-shadow: 1px 1px 3px #888;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}

#pop-up.visible {
  opacity: 0.7;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}

#pop-up.success {
  color: #4d880f;
  background-color: #ecf5de;
}

#pop-up.error {
  color: #ab020c;
  background-color: #ffeeee;
}

// Icons

#pop-up .fa-times-circle, #pop-up .fa-check {
  margin: 7px 22px 7px 0px;
  font-size: 12px;
  vertical-align: middle;
}
