
.front-page {
    position: relative;
  border-bottom: 5px solid grey;
  margin-bottom: 15px;
  height: 100px;
  width: 100%;
}

/* Size of the logo and text margin */
.front-page img {
  position: absolute;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  float: right;
}

